@{
    ViewBag.Title = "Home Page";
    ViewBag.PageId = "index";
}

@section scripts {
    <script type="text/javascript">
        app.viewModels.indexViewModel.init();
        ko.applyBindings(app.viewModels.indexViewModel);
    </script>
}

<h3>Pages<a href="#"><span class="ui-icon ui-icon-plus"></span></a></h3>

<ul class="simpleList" data-bind="foreach: pages">
    <li><span data-bind="text: Title"></span></li>
</ul>

