@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        app.viewModels.indexViewModel.init();
        ko.applyBindings(app.viewModels.indexViewModel);
    </script>
}

<ul data-bind="foreach: pages">
    <li><span data-bind="text: Title"></span></li>
</ul>