@{
    ViewBag.Title = "Home Page";
    ViewBag.PageId = "index";
}

@section scripts {
    <script type="text/javascript">
        app.viewModels.indexViewModel.init();
        ko.applyBindings(app.viewModels.indexViewModel);
    </script>
}

<h3>Pages<a href="#"><span class="ui-icon ui-icon-plus" data-bind="click: addPage"></span></a></h3>

<ul class="simpleList" data-bind="foreach: pages">
    <li><span data-bind="text: Title"></span><a href="#"><span class="ui-icon ui-icon-pencil"></span></a><a href="#"><span class="ui-icon ui-icon-trash"></span></a></li>
</ul>

<div style="display: none" data-bind="jqDialog: { autoOpen: false, modal: true, resizable: false, width: '600px' }, openDialog: selectedPage, template: { name: 'pageEditor', data: selectedPage, if: selectedPage } ">
</div>
<script type="text/html" id="pageEditor">
    <div>
        <label><span>Title</span>
            <input type="text" data-bind="value: Title" />
        </label>
    </div>
    <div>
        <label><span>Content</span>
            <textarea data-bind="value: Content"></textarea>
        </label>
    </div>
</script>